.outterItem0, .outterItem1 {
    background: #d86969; 
}

.innerItem0, .innerItem1 {
    display: none
}

.outterItem0:hover, .outterItem1:hover {
    background: #add8e6;
}

.outterItem0:hover + .innerItem0 {
    display: block
}

.outterItem0:hover ~ .innerItem1 {
    display: block
}

.outterItem1:hover + .innerItem0 {
    display: block
}

.outterItem1:hover ~ .innerItem1 {
    display: block
}

li:hover {
    background: #add8e6;
}

li:focus { /*  onClick this changes background color*/
    background: linear-gradient(#01b8f5, #85bed4);
}

.listCompCss {
    overflow-y: scroll;
    height: 80vh;
}

.addressCss {
    cursor:pointer; 
    color: darkblue; 
    text-decoration: underline; 
}

.ulCss {
    display: inline-flex; 
    list-style: none; 
    cursor: pointer; 
    padding: 0 0;
    width: 100%;
}

.tableWidth {
    width: 75vw;
}

.inputSize {
    margin: 20px;
    width: 30vw
}

.listCompTdWidth {
    width: 30vw;
}

.listCompLiStyle {
    cursor: pointer;
}

.utilCompTdWidth {
    width: 35vw;
}

.utilTitleStyle {
    position: relative;
    bottom: 25vh;
    text-align: center;
    width: 33vw;
}

.utilWrapperStyle {
    text-align: center;
    position: absolute;
    top: 40vh;
}

.maxMinBLDGInfoWrapper {
    width: 45%;
    padding: 10px 1.9vw;
}

.volumeTypeTextStyling {
    width: 13vw; 
    border-radius: 5px; 
    display: block;
    padding: 10px 30px;
}

.subInfoTextStyling {
    margin-top: 50px; 
    width: 13vw;
    background: #0f84e8;
    border-radius: 5px;
    color: white; 
}

.imgCSS {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnPositionCss {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appCss {
    background: linear-gradient(#d7fadc, #85bed4);
    height: 100vh;
    overflow: hidden;
}

.tableCss { /* on large windows : aids in scaling */ 
    position:absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    height:100%; 
    width:100%;
    overflow:hidden
}

.trCss { border-collapse:collapse } 

.breakdownCss {
    max-width: 50vw; 
    overflow-x: scroll; 
}

.homeBtnCss {
    margin-left: 50px;
    margin-top: 10px
}

.DetailsPageDivWrapper {
    padding-left: 50px
}

.tableCSS {
    width: 95%
}

.DetailsPageRow {
    width:450px
}

.breakDownLiCss {
    cursor: pointer; 
    color: blue
}

.paginationSpanTag {
    cursor: pointer;
}